/* Estilo básico para o site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo do menu de navegação */
nav {
    position: fixed; /* Fixado no topo */
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.contato{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);    
    font-size:14px; 
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
    font-weight: 800;
    color: #ffffff;
}

.contato:hover{
    border-top-right-radius: 30px;
    color: #222120;
}



/* Estilo das seções */
section {
    min-height: 100vh; /* Cada seção ocupa pelo menos a altura total da tela */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s ease;
}

/* Diferenciação visual para cada seção */
#section1 {
    background-color: #eadeeb;
    background-image: linear-gradient(45deg, #ffd18b 0%, #2BD2FF 52%, #3bfd8fe5 90%);
    
}

#section2 {


}

#section3 {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

#section4 {

}

/* Rolagem suave ao clicar nos links */
html {
    scroll-behavior: smooth;
}


