/* Estilo básico para o site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo do menu de navegação */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.contato {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
    font-weight: 800;
    color: #ffffff;
}

.contato:hover {
    border-top-right-radius: 30px;
    color: #222120;
}

/* Estilo das seções */
section {
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s ease;
}

/* Diferenciação visual para cada seção */
#section1 {
    background-color: #eadeeb;
    background-image: linear-gradient(45deg, #ffd18b 0%, #2BD2FF 52%, #3bfd8fe5 90%);
}

.section1__inicio {
    width: 95rem;
    height: 50rem;
    padding: 50px;
    display: flex;
}

.section1__inicio__sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin-right: 20px;
}

.resumo {
    margin-top: 10%;
    max-width: 100%;
}

.resumo h1 {
    font-size: 70px;
    color: #222;
    text-align: start;
}

.resumo p {
    text-align: justify;
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.card1 {
    background-color: #f1efea77;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    width: 25%;
}

/* Estilo para o h1 dentro da div .card1 */
.card1 h1 {
    color: rgb(75, 72, 72);
    font-weight: 900;
    font-size: 2rem;
}

/* Estilo para o p dentro da div .card1 */
.card1 p {
    color: #333;
    font-weight: 600;
    font-size: 1rem;
}

.section1__inicio__foto {
    width: 50%;
    height: 98%;
    padding: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.foto {
    width: 50%;
    height: 98%;
    padding: 50px;
    display: flex;
    border-radius: 10%;
    background-color: #2de27e7c;
}

.foto .foto__anexa {
    border-radius: 10%;
}


#section3 {
    background-color: #eadeeb;
    background-image: linear-gradient(45deg, #ffac8b 0%, #ffbc2b 52%, #c9fd3be5 90%);
}


/* Rolagem suave ao clicar nos links */
html {
    scroll-behavior: smooth;
}
